@tailwind components;

.info {
 @apply my-1.5
}

.poster {
    height: 516px;
    width: 344px;
    /* display: flex; */
    justify-content: center;
    align-content: center;
}

img {
    height: 100%;
    
}

