<div  *ngFor="let customer of movie.resultBuffer[0].results; let i = index" class="  rounded-t w-96 h-auto p-5 flex flex-col justify-center ">
<img  src="https://image.tmdb.org/t/p/original{{customer.poster_path}} " alt="movie poster">
<p class="info">genre tags</p>
<p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  </p>
<p class="info">Release date</p>
</div>